.features {
  grid-column: center-start / center-end;
  margin: 0;
  // margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start;

  @media only screen and (max-width: $bp-small) {
    // margin-top: 10rem;
  }
}

.feature {
  float: left;
  // width: ß33.33333333%;
  margin-top: 20rem;

  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  @media only screen and (max-width: $bp-medium) {
    margin-top: 4rem;
  }

  @media only screen and (max-width: $bp-small) {
    grid-row-gap: 1rem;
    grid-column-gap: 1.5rem;
  }

  &__icon {
    fill: $color-green;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);

    @media only screen and (max-width: $bp-medium) {
      width: 2.5rem;
      height: 2.5rem;
      transform: translateX(1.75rem);
    }

    @media only screen and (max-width: $bp-small) {
      transform: translateX(1rem);
    }
  }

  &__heading {
    font-size: 1.9rem;
    color: $color-brown;
  }

  &__text {
    font-size: 1.7rem;
    color: $color-black;

    // @media only screen and (max-width: $bp-small) {
    //   font-size: 1.5rem;
    // }
  }
}