.footer {
  background-color: $color-blue;
  grid-column: full-start / full-end;
  padding: 8rem;

  &__copyright {
    font-size: 1.2rem;
    color: $color-black;
    margin-top: 5rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
  }

  &__link {
    text-decoration: none;
    color: $color-black;
    background-color: rgba($color-off-white, .05);
    padding: 1rem;
    transition: all .3s;

    &:hover {
     background-color: rgba($color-off-white, .25);
    }
  }
}

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  
  &__link:link,
  &__link:visited {
    font-size: 1.6rem;
    color: $color-off-white;
    font-weight: 700;
    text-decoration: none;
    font-family: $font-headers;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .3s;
  }

  &__link:hover,
  &__link:active {
    background-color: rgba($color-off-white, .15);
    transform: translateY(-5px);
  }
}
